.content{
  position: sticky;
  z-index:1;
  height: 80vh;
}

.graph{
  width: 100vw;
  height: 58vh;
}

.form{
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1vh;
}

.searchButton{
  background-color: var(--btn-color) !important;
  border-radius: 40px;
  height: 40px;
}

.datePicker{
  width: 230px;
}

.searchIcon{
  margin-left: 5px;
}

h2{
  text-align: center;
}
